{% extends 'blog/blog_base.html' %}

{% block content %}
  <div class="container-fluid p-0">
    <div class="jumbotron bg-primary rounded-0">
      <div class="text-white container">

        <h2 class=" font-weight-light">Welcome to <span
            class="font-weight-bold">my</span>Blog</h2>
        <p class="font-weight-light">Django is awesome... So is this blog!!</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12blog-wrapper">

          <div class="card shadow mt-3">
            <div class="card-body">
              <h5 class="card-title">A new Blog</h5>
              <h6 class="card-subtitle text-muted p-2 detail">Anjal Bam |
                created at |
                last
                modified</h6>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Culpa dicta est illum in inventore nobis
                repudiandae vel! Aliquam animi autem, cupiditate ducimus
                exercitationem fugit, itaque necessitatibus,
                nulla quaerat quia veniam.
              </p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
          </div>

          <div class="card shadow mt-3">
            <div class="card-body">
              <h5 class="card-title">A new Blog</h5>
              <h6 class="card-subtitle text-muted p-2 detail">Anjal Bam |
                created at |
                last
                modified</h6>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Culpa dicta est illum in inventore nobis
                repudiandae vel! Aliquam animi autem, cupiditate ducimus
                exercitationem fugit, itaque necessitatibus,
                nulla quaerat quia veniam.
              </p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
          </div>

          <div class="card shadow mt-3">
            <div class="card-body">
              <h5 class="card-title">A new Blog</h5>
              <h6 class="card-subtitle text-muted p-2 detail">Anjal Bam |
                created at |
                last
                modified</h6>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Culpa dicta est illum in inventore nobis
                repudiandae vel! Aliquam animi autem, cupiditate ducimus
                exercitationem fugit, itaque necessitatibus,
                nulla quaerat quia veniam.
              </p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
          </div>

          <div class="card shadow mt-3">
            <div class="card-body">
              <h5 class="card-title">A new Blog</h5>
              <h6 class="card-subtitle text-muted p-2 detail">Anjal Bam |
                created at |
                last
                modified</h6>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Culpa dicta est illum in inventore nobis
                repudiandae vel! Aliquam animi autem, cupiditate ducimus
                exercitationem fugit, itaque necessitatibus,
                nulla quaerat quia veniam.
              </p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
          </div>

          <div class="card shadow mt-3">
            <div class="card-body">
              <h5 class="card-title">A new Blog</h5>
              <h6 class="card-subtitle text-muted p-2 detail">Anjal Bam |
                created at |
                last
                modified</h6>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Culpa dicta est illum in inventore nobis
                repudiandae vel! Aliquam animi autem, cupiditate ducimus
                exercitationem fugit, itaque necessitatibus,
                nulla quaerat quia veniam.
              </p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
          </div>

        </div>

        <div class="col-md-4  p-3 bg-white">
          {% include 'blog/utils/sidebar.html' %}
        </div>
      </div>

    </div>
  </div>
{% endblock content %}