<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container">
    <a class="navbar-brand" href="{% url 'blog:home' %}"><span
        class="font-weight-bold">my</span><span
        class="font-weight-lighter">Blog</span></a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item text-black">
            <a class="nav-link text-black font-weight-regular"
               href="{% url 'pages:homepage' %}">Home</a>
        </li>

        <li class="nav-item text-black">
            <a class="nav-link text-black font-weight-regular"
               href="{% url 'blog:authors_list' %}">Authors</a>
        </li>

        <li class="nav-item text-black">
            <a class="nav-link text-black font-weight-regular"
               href="{% url 'blog:create' %}">Create</a>
        </li>

      </ul>
    </div>
  </div>
</nav>