<div class="card shadow">
  <div class="card-header">About</div>
  <div class="card-body">
    <h5 class="card-title">This is <span
        class="font-weight-bold">my</span><span
        class="font-weight-light">Blog</span>
    </h5>
    <p class="card-text">
      This project is written in Django and is styled with Bootstrap4. You
      can view this project to my github account.
    </p>
    <a href="https://github.com/AnjalBam/myblog_django_iw_assignment"
       referrerpolicy="no-referrer" target="_blank"
       class="btn btn-large btn-danger">
      GitHub
    </a>

  </div>
</div>